@using Microsoft.AspNetCore.Identity
@using PatPilot.Extensions
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor
@functions {
    bool isConnected()
    {
        if (User == null) return false;
        if (SignInManager.IsSignedIn(User) &&
            UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "Admin").Result) return true;
        else if (SignInManager.IsSignedIn(User) &&
            UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "AdminEnseigne").Result &&
            HttpContextAccessor.HttpContext.Session.GetObjectFromJson<Enseigne>("Enseigne") != null) return true;
        else return false;
    }
}
<ul class="navbar-nav m-1">
    @if (isConnected())
{
    <li class="nav-item">
            <div class="d-flex align-content-between">
                <a class="btn btn-pink me-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <i class="bi bi-person-hearts text-black me-2"></i> @User.Identity?.Name
                </a>
                <a class="btn btn-danger" asp-area="Identity" asp-page="/Account/Logout">
                    <i class="bi bi-box-arrow-right text-white me-2"></i> Déconnection
                </a>
            </div>
    </li>
    
}
else
{
    <li class="nav-item">
            <a class="btn btn-primary d-flex align-items-center" asp-area="Identity" asp-page="/Account/Login">
                <i class="bi bi-box-arrow-in-right text-white me-2"></i> Me connecter
            </a>
    </li>
}
</ul>
