@page
@model PatPilot.Areas.Identity.Pages.Account.LogoutModel
@{
    Layout = null;
}
<form method="post" id="logoutForm"></form>

<script>
    document.getElementById("logoutForm").submit();
</script>
