@model PatPilot.Models.Enseigne

@{
    ViewData["Title"] = "Edit";
}

<hr />
<div class="enseigne-form-container">
    <h2 class="enseigne-form-title">Créer / Modifier une Enseigne</h2>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
    <div class="enseigne-form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    <div class="enseigne-form-group">
            <label asp-for="Address" class="control-label"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    <div class="enseigne-form-group">
            <label asp-for="PhoneNumber" class="control-label"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    <div class="enseigne-form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    <div class="enseigne-form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    <div class="enseigne-form-group">
            <label asp-for="ContactName" class="control-label"></label>
            <input asp-for="ContactName" class="form-control" />
            <span asp-validation-for="ContactName" class="text-danger"></span>
        </div>
    <div class="enseigne-form-group">
            <label asp-for="logo" class="control-label"></label>
            <input asp-for="logo" class="form-control" />
            <span asp-validation-for="logo" class="text-danger"></span>
        </div>
    <div class="enseigne-form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
            </label>
        </div>
    <div class="enseigne-form-group">
            <label asp-for="DateActivation" class="control-label"></label>
            <input asp-for="DateActivation" class="form-control" />
            <span asp-validation-for="DateActivation" class="text-danger"></span>
        </div>

    <div class="enseigne-form-group">
            <label asp-for="Currency" class="control-label"></label>
            <input asp-for="Currency" class="form-control" />
            <span asp-validation-for="Currency" class="text-danger"></span>
        </div>
    <div class="enseigne-form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
    
</div>

<div>
    <a asp-action="Index">Retour</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
